#brand{
    padding-left: 20px;
    font-size: 25px;
}

.link {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    text-decoration-color: #ffcd45;
    text-decoration-thickness: 5px;
    color: black;
    cursor: pointer;
}

.active{
    /* cursor: pointer; */
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #ffcd45;
    text-decoration-thickness: 5px;
}
