
.carousel-1{
    margin: 3%;
}
    
.Carousel {
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;;
}

.carousel-inner{
    width: 100;
}


.img1{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.img2{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.img3{
    width: 68.5%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.img4{
    width: 81.75%;
    margin-left: 9%;
    margin-bottom: 5%;
}

.caption{
    position: relative;
    left: 0;
    right: 0;
    /* bottom: 1.25rem; */
    /* padding-top: 1.25rem; */
    margin: auto;
    color: #fefefe;
    text-align: center;
    width: 75%;
}
